@{
    Layout = null;
}

<style>
    .table{
        margin-bottom: 0px;
    }

    table tr td {
        border-bottom: 1px solid #dddddd;
    }
</style>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-folder-close"> 
                    </span>Department
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Save Department", "Save", "Department")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Department List", "Index", "Department")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Course
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Save Course", "Save", "Course")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Course Static", "ViewCourse", "CourseAssign")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Teacher
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Save Teacher", "Save", "Teacher")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Course Assign", "Save", "CourseAssign")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Class
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Allocate Classroom", "Save", "AllocationClassRoom")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("View Class Schedule", "Index", "ClassSchedule")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Student
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Register Student", "Save", "Student")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Course Enrollment", "Save", "CourseEnrollment")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Save Result", "Result", "Student")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("View Result", "ViewResult", "Student")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Reset
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Unassign Courses", "UnassignCourses", "Reset")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Unallocate Classroom", "UnallocateClassroom", "Reset")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
